{% extends "pre_entrega/base.html" %} 

{% block contenido %} 
<form action="{% url 'subir_camiones'%}" method="post"> 
    {% csrf_token %}
    <p>Marca</p>
    <input type="text" name="marca">
    <p>Modelo</p>
    <input type="text" name="modelo">
    <p>Año</p>
    <input type="text" name="ano">
    <p>Color</p>
    <input type="text" name="marca">
    <p>Equipamiento</p>
    <input type="text" name="marca">
    <p>Descripcion</p>
    <input type="text" name="marca">
    <input type="submit" value = "Enviar">
</form>
{% endblock contenido %}