{% extends "pre_entrega/base.html" %} <!--esta es la ruta de donde extendemos el html-->

{% block contenido%}<!--esto abre el bloque que se agrega-->
<section>
    <div>
        <h1>Lista de autos</h1>
        <a class="navbar-brand" hrfef="{% url 'subir_autos' %}"> Publicar auto </a>
        <ul> <!--con este codigo se crea una lista con los datos del contexto en la view-->
            {% for auto in autos %}
                <li>{{auto.marca}}, {{auto.modelo}}, {{auto.ano}}
            {% endfor %}           
        </ul>
    </div>
</section>
{% endblock contenido%}